body {
  font-family: "Roboto", sans-serif;
  background-color: #151b29;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background: none;
  color: #ffa260;
  padding: 1em 2em;
  font-size: 1em;
  border: 1px solid #ffa260;
  transition: border-color 0.5s, color 0.5s, box-shadow 0.5s, transform 0.5s;
}

button:hover {
  color: white;
  cursor: pointer;
  border-color: #f1ff56;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff56;
  transform: translateY(-0.25em);
}
